body{
    background-repeat: no-repeat;
    font-family: sans-serif;
    background-color:#F68920;
    form{
        background:  #ff751a;
        width: 500px;
        margin: 8% auto;
        padding: 50px 0;
        text-align: center;
        box-shadow: 0px 10px 40px rgb(0,0,0);
        border-radius: 25px;
        
        .wrapper_login{
            margin:30px auto;
            width:80%;
            position: relative;
            box-shadow: 0px 8px 10px -10px rgb(0,0,0);
            input{
                width:100%;
                height:40px;
                border: none;
                background: #efefef;
                padding-left:50px;
                box-sizing:border-box;
            }
            span{
                position: absolute;
                font-size:20px;
                left: 0;
                top: 0;
                height: 40px;
                width: 40px;
                background: linear-gradient(to right, #994d00,#996633);
            }
            span .fa{
                padding:10px;
                color: #fff;
            }
        }
        .wrapper_login_submit{
            input{
            width: 130px;
            height:40px;
            margin-left: 36%;
            display: block;
            color: #fff;
            border: 0;
            font-size:16px;
            outline:none;
            background: linear-gradient(to right, #994d00,#996633);
            cursor: pointer;
            }
        }
        a{
            text-decoration: none;
        }
        
    }
    
}