body{
    background-repeat: no-repeat;
    font-family: sans-serif;
    background-color:#F68920;
        .wrapper{
            background: #ff751a;
            width: 65%;
            margin: 8% auto;
            padding: 50px 0;
            text-align: center;
            box-shadow: 0px 10px 40px rgb(0,0,0);
            border-radius: 25px;
            .asset{
                margin:30px auto;
                width:80%;
                position: relative;
                
                .asset_add{
                    padding:10px;
                    box-sizing: border-box;
                    font-size:24px;
                    font-family:sans-serif;
                    margin:30px auto;
                    width:100%;
                    position: relative;
                    border: 1px solid black;
                    text-align: left;
                    
                }
                .asset_show{
                    font-size:24px;
                    font-family:sans-serif;
                    text-align: left;
                    padding:10px;
                    box-sizing: border-box;
                    border: 1px solid black;
                    
                    }
                    table{
                        border: 1px solid black;
                        border-collapse: collapse;
                        
                        .row{
                            border: 1px solid black;
                            
                            .column{
                                border: 1px solid black;
                                padding: 0.2em;
                                    
                            }
                        }
                    }
                }
            }
    }